.home-body-inner {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.category {

    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;

    justify-content: center;

    flex-direction: column;
    overflow: hidden;
}

.category a {
    background-color: transparent;
    color: white;
    font-weight: 500;
    font-size: 20px;
    max-width: min-content;
    white-space: nowrap;
}

.category .img {
    height: 150px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.category .img img {

    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.category h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: white;
    z-index: 1001;
}


.home-body-inner>a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 16px;
}