.modal {
    position: absolute;
    left: 0;
    max-width: 400px;
    width: 100%;
    color: black;
    height: 100vh;
    z-index: 50000;
    top: 0;
}

.feed .container {
    flex-grow: 1;
}

.main-home .container {
    position: static !important;
}

.modal .modal-back {
    position: relative;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    left: 0;

    top: 0;

    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 15px;

}

.drop-down {
    border: 1px solid rgba(90, 90, 90, 1);
    border-radius: 8px;
    padding: 10px;
    margin-top: 5px;
}

.drop-down>ul {
    display: none;
}

.drop-down {
    cursor: pointer;
    position: relative;
}

.drop-down:hover>ul.active {
    position: absolute;
    display: block;
    background-color: rgba(42, 41, 41, 1);
    width: 100%;
    top: 103%;
    left: 0;
    padding: 10px 0;
    z-index: 5001;
    border-radius: 8px;
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.3);
}

.drop-down ul li {
    padding: 10px;
}

.drop-down ul li:hover {
    background-color: rgba(90, 90, 90, 0.5);
    border-radius: 8px;
}

.select-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-inner {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 20px;
}

.feed .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feed .modal-inner {
    height: auto;
}

.modal-inner {
    background-color: rgba(42, 41, 41, 1);
    width: 100%;
    color: white;
    padding: 15px;
    height: 100%;
    border-radius: 12px;
}

.exit {
    position: absolute;
    font-size: 35px;
    font-weight: 500;
    right: 15px;
    top: 15px;
    color: white;
    cursor: pointer;
}

.form-item textarea {
    width: 100%;
    height: 100%;
    background-color: rgba(42, 41, 41, 1);
    border-radius: 12px;
    padding: 10px;
    color: white;
    resize: none;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.5px;
}

.modal-inner h3 {
    padding: 15px 0;
}

.feed .btn {
    font-size: 17px;
    padding: 17px;
    margin-bottom: 15px;
}

.modal-back h2 {
    margin-top: 8px;
    color: #4bb71b;
}

.success-animation {
    background-color: white;
    margin: 0 auto;
    z-index: 2;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.checkmark {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #4bb71b;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4bb71b;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    position: relative;

    margin: 0 auto;
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #4bb71b;
    fill: #fff;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;

}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {

    0%,
    100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}

@media screen and (min-width:1100px) {

    .form-inner {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        gap: 10px;
    }
}