@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}


body {
  max-width: 400px;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: #2B2B2A;
  color: white;
  scroll-behavior: smooth;
  margin: 0 auto;
}


button {
  cursor: pointer;
}

span,
a,
button,
input,
i,
img {
  display: inline-block;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
}

section {
  flex: 3;
}


#root {
  position: relative;
}

section .container {
  position: relative;
}

.scrollTop {
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 1005;
}

.scrollTop.back {
  position: fixed;
  right: 25px;
  bottom: 85px;
}

.scrollTop button {
  padding: 13px;
  color: white;
  font-weight: 600;
  background-color: rgba(243, 10, 6, 1);
  border: none;
  border-radius: 9px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}